---
import { Header, TabsEnum } from "../components/Header";
import { Select } from "../components/Select";
import { TextField } from "../components/TextField";
import { OpButton } from "../components/OpButton";
import { Button } from "../components/Button";

import { getCli, getBudgets, getAccounts, Transaction, saveTransaction } from "../client/fintrack";

const showSuccess = Astro.url.searchParams.get('success') || false
const isPost = Astro.request.method === "POST";
const urlCookie = Astro.cookies.get("fintrackApiUrl").value;
const tokenCookie = Astro.cookies.get("fintrackApiToken").value;

if (urlCookie == undefined || tokenCookie == undefined) {
	return Astro.redirect("/")
}

const cli = getCli(urlCookie, tokenCookie)

if (isPost) {
	const t = await Astro.request.formData()
	const value = t.get("value")
	const accountId = t.get("accountId")
	const budgetId = t.get("budgetId")
	const description = t.get("description")
	const positive = t.get("positive")

	if (accountId && budgetId) {
		const v = value ? parseFloat(value.toString().replace('€ ', '')) : 0;
		const transaction: Transaction = {
			value: v * (positive ? 1 : -1),
			accountId: accountId?.toString(),
			budgetId: budgetId.toString(),
		}

		if (description) {
			transaction.description = description.toString()
		}

		await saveTransaction(cli, transaction);
		return Astro.redirect('/transact?success=true')
	}
}

const [
	budgets,
	accounts
] = await Promise.all([
	getBudgets(cli),
	getAccounts(cli),
])
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>FinTckr</title>
	</head>
	<body class="bg-slate-100">
		<Header value={TabsEnum.Transact} />
		<form class="max-w-xs mx-auto flex flex-col gap-8 mt-10" method="post">
			<div class="relative">
				<TextField label="Value" name="value" placeholder="€ 00.00" inputMode="numeric">
					<div class="absolute right-0 top-0 bottom-0 w-20">
						<OpButton />
					</div>
				</TextField>
			</div>
			<TextField label="Description" name="description" placeholder="Description" />
			<Select label="Account" name="accountId">
				{
					accounts.map(({ id, name }) => (
						<option value={id}>{name}</option>
					))
				}
			</Select>
			<Select label="Budget" name="budgetId">
				{
					budgets.map(({ id, budget }) => (
						<option value={id}>{budget}</option>
					))
				}
			</Select>
			<Button id="submit" className="mt-4">
				Transact
			</Button>
		</form>
		<div id="alert" class={(showSuccess ? "" : "hidden ") + "bg-emerald-200 rounded-md shadow-md p-4 absolute bottom-5 left-5 right-5 text-center text-xs font-semibold text-emerald-900 uppercase"}>
			Trasaction done with success!
		</div>
	</body>
</html>

<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/masking-input.js" data-autoinit="true"></script>
<script>
	const form = document.getElementById("form") as HTMLFormElement;
	const ipt = document.querySelector("[name='value']")
	const alert = document.getElementById("alert");

	if (alert && !alert.classList.contains("hidden")) {
		setTimeout(() => {
			alert.classList.add("hidden")
		}, 3500)
	}

	ipt?.addEventListener("keyup", function (e) {
		const el = e.target as HTMLInputElement;
		const svalue = el.value.replace(".", "").replace("€", "").trim();
		const value = parseInt(svalue).toString();
		const entire = value.slice(0, value.length - 2);
		const decimal = value.slice(value.length - 2, value.length);

		let entireFormatted = "0";

		if (entire.length < 2) {
			entireFormatted = entire.length == 0 ? "00" : "0" + entire;
		} else {
			entireFormatted = entire;
		}

		el.value = `€ ${entireFormatted.length > 2 ? entireFormatted : entireFormatted}.${decimal.length < 2 ? "0" + decimal : decimal}`
	})

	form?.addEventListener("submit", function () {
		const btn = this.querySelector("button") as HTMLButtonElement
		btn.disabled = true;
		btn.classList.add("bg-indigo-800")
		btn.textContent = "💸 💸 💸"
	})
</script>